h1{
    padding-top: 10px;
    font-family: Duper;
    font-weight: 700;
    font-style: normal;
    Color: map-get($colors, coralito);
    font-size: x-large;
}
h2{
    font-family: eigerdals;
    color: map-get($colors, verdeclaro);
    font-size: large;
}
legend{
    font-family: eigerdals;
    Color: map-get($colors, verdeclaro);
    font-size: medium;
}
h3{
    font-family: Eigerdals;
    color: map-get($colors, coralito);
    font-size: medium;
}
h4{
    font-family: duper;
    color: map-get($colors, blanco);
    font-size: xx-large;
}
h5{
    padding-top: 20px;
    font-family: duper;
    color: map-get($colors, coralito);
    font-size: xx-large;
}
p{
    font-family: Eigerdals;
    font-size: medium;
    color: map-get($colors, verdeoscuro);    
    text-align: justify;
}