/* Error: Undefined variable.
 *   ,
 * 2 |     $coral: #ef7a75, 
 *   |     ^^^^^^
 *   '
 *   scss\_color.scss 2:5  @import
 *   index.scss 2:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502      $coral: #ef7a75, \d\a   \2502      ^^^^^^\a   \2575 \a   scss\\_color.scss 2:5  @import\a   index.scss 2:9        root stylesheet";
}
